<%= form_for(@explorer) do |f| %>
  <% if @explorer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@explorer.errors.count, "error") %> prohibited this explorer from being saved:</h2>

      <ul>
      <% @explorer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :explorer_id %><br />
    <%= f.text_field :explorer_id %>
  </div>
  <div class="field">
    <%= f.label :friend_id %><br />
    <%= f.text_field :friend_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
