<h1>Listing explorers</h1>

<table>
  <tr>
    <th>Explorer</th>
    <th>Friend</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @explorers.each do |explorer| %>
  <tr>
    <td><%= explorer.explorer_id %></td>
    <td><%= explorer.friend_id %></td>
    <td><%= link_to 'Show', explorer %></td>
    <td><%= link_to 'Edit', edit_explorer_path(explorer) %></td>
    <td><%= link_to 'Destroy', explorer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Explorer', new_explorer_path %>
