<%= stylesheet_link_tag "explorers" %>
<h3>Switch user and explore !</h3>
<div class="alert alert-info">
  Enter a friend name to discover max likes of their facebook data <br/>
  Leave it blank to  discover your own data (default mode)
</div>
<%= form_for(@explorer) do |f| %>
<div class="field">
  <%= f.label 'Enter your friends name' %><br />
  <%= f.text_field :friend_id %>
</div>
<div class="actions">
  <%= submit_tag "Explore", :disable_with => "Triggering explorer mode"  %>
  <!-- %= f.submit % -->
</div>


<% end  %>

