<%  @album.name %>
<p id="notice"><%= notice %></p>
<div id="images">
  <% for picture in @album.pictures %>
    <div class="images">
      <%= image_tag picture.image_url(:thumb) if picture.image? %>
      <div class="name"><%= picture.img_name %></div>
      <div class="actions">
 
      </div>
    </div>
  <% end %>
  <div class="clear"></div>
</div>

<p>
  <%= link_to "Add a Picture", new_picture_path(:album_id => @album) %> |
  <%= link_to "Remove Album", @album, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View Albums", albums_path %>
</p>