<div class="row">
  <div class='span9'>
    <br>
    <h3> Welcome to Mylaicosspace  </h3>
    <p class="text-info">
      Back from a holiday or in between busy schedule, you dont need to get lost into cluttered messages on your wall.
      With Mylaicosspace you can filter your message, photos and albums with intuitive filters. With Mylaiccose you view
      your social space differently and connect with your friends even more effectively !

    </p>

  </div>
</div>
<h5>Sign in with your facebook account to continue ... </h5>

<!--
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.submit "Sign in" %></div>


<% end %>
-->

<!-- %= render "devise/shared/links" % -->
<div>
    <a href='https://fogify.herokuapp.com/terms.html'>Click here for Terms and Conditions </a>
  <p> You consent to have read and accepted the <a href='https://fogify.herokuapp.com/terms.html'>terms and conditions</a> of the website before clicking the below facebook login image.
  </p>

  <%=link_to(image_tag('/images/facebook_32.png'), '/auth/facebook') %>
</div>

